// px转换为rem
// 1rem = fontSize px
// 1px = (1 / fontSize)rem
// 370/10
$fontSize: 37.5;
@function px2rem($px) {
  @return ($px / $fontSize) + rem;
}

// 水平垂直居中
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}


// 单行省略显示，要有宽度
@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin ellipsis2($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

@mixin left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@mixin right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
